<form class="flex flex-col items-center mx-[auto] mt-14" (submit)="login($event)">
    
    <app-login-form-input [name]="'Username'" (outValue)="setUsername($event)"></app-login-form-input>
    <app-login-form-input [name]="'Password'" (outValue)="setPassword($event)"></app-login-form-input>
    <app-login-form-button [type]="'submit'" [name]="'Login!'"></app-login-form-button>
    <hr class="my-2 border-0"/>
    <p class="text-xs">Forgot your password? Click <a href='#'>HERE</a></p>
    <p class="text-xs">Don't have an account? Click <a href='#'>HERE</a> to register</p>

</form>

<app-form-dialog [title]="'Login'" [errors]="errors" [successText]="'Logged in successfully'" [isVisible]="isDialogVisible" (hide)="setDialogVisibility($event)"></app-form-dialog>