<section class="p-4 w-full ">
  <!-- Card Title, Date posted, Username -->
  <h1 class="text-md font-bold text-rose-900 mb-2">Username</h1>
  <!-- User thoughts or other blurb -->
  <!-- <p class="text-gray-700 mb-4 text-xs">User thoughts other blurb</p> -->

  <div class="relative w-full mb-2 ">
    <img
      src="{{ music.coverArt }}"
      alt="music image"
      class="w-full  sm:object-contain md:object-cover rounded-lg"
    />
    <!-- Floating play button over the image -->
    <button
      class="absolute bottom-4 right-4 bg-rose-900 text-white py-2 px-4 rounded-full shadow-lg hover:bg-rose-700"
    >
      Play
    </button>
  </div>

  <section name="music details" class="mb-2">
    <!-- Interpolating the music data from the API -->
    <h2 name="track name" class="text-sm font-semibold text-rose-800">
      {{ music.trackName }}
    </h2>
    <h3 class="text-xs text-rose-900">{{ music.artist }}</h3>
    <a
      href="{{ music.trackLink }}"
      class="text-rose-700 underline hover:text-rose-500 text-xs"
      >Listen to the track</a
    >
    <!-- <a
      href="https://drive.google.com/file/d/1pHgI4S5exG4vkcR8qnLnSLdkAtQ82R_m/view?usp=drive_link"
      class="text-rose-700 underline hover:text-rose-500"
      >Listen to the track Drive test</a
    > -->

    <section name="comments display" class=" line-clamp-2 overflow-ellipsis">
      <p class="text-rose-900 text-xs">{{ music.comment }}</p>
<!-- 
      <button
        type="submit"
        class="bg-rose-900 text-white py-2 px-4 rounded-md shadow hover:bg-rose-700"
      >
        See More...
      </button> -->
    </section>
  </section>
</section>
