<section class="w-full">
  <!-- Card Title, Date posted, Username -->
  <section name="userdetails" class="flex justify-center pb-2 ">
    <img src="../../assets/images/Avatar.svg" alt="user avatar" class="w-6" />
    <h1 class="text-sm font-light text-[#9d0007] pl-2 text-left line-clamp-1">
      Username
    </h1>
  </section>
  <!-- <div class ="text-xs text-[#232330] text-center px-3 pb-2"> -->
    <!-- <p>{{ user.status }}</p> -->
    <!-- <p>{{music.createdAt}}</p> -->
     <!-- <p>Date posted</p>
    </div> -->

  <section name="music image and play button">
    <div class="relative w-full mb-2">
      <img
        src="{{ music.coverArt }}"
        alt="music image"
        class="w-full aspect-square sm:object-contain md:object-cover mix-blend-multiply"
      />
      <!-- Floating play button over the image -->
      <audio controls class="absolute inset-0 m-auto w-32 h-12">
        <source src="{{ music.trackLink }}" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </section>

  <section name="music details" class="px-4 mb-2">
    <!-- Interpolating the music data from the API -->
    <h2
      name="track name"
      class="text-sm font-semibold text-[#232330] line-clamp-1 "
    >
      {{ music.trackName }}
    </h2>
    <h3 class="text-xs text-[#9d0007] uppercase ">{{ music.artist }}</h3>

    <!-- <a
      href="https://drive.google.com/file/d/1pHgI4S5exG4vkcR8qnLnSLdkAtQ82R_m/view?usp=drive_link"
      class="text-rose-700 underline hover:text-rose-500"
      >Listen to the track Drive test</a
    > -->

    <section name="comments display" class="">
      <div class="flex justify-between pt-2">
      <label for="comment" class="text-xs font-semibold text-[#232330]">Comments</label>
      <img src="../../assets/images/favorite.svg" alt="heart icon" class="w-4" />
    </div>
      <p class="text-[#232330] text-xs line-clamp-2 pt-2 pb-4">{{ music.comment }}</p>
    </section>
      <button
        type="submit"
        class="bg-rose-900 text-white text-xs  py-2 px-4 rounded-full shadow hover:bg-rose-700 flex mx-auto"
      >
        See More...
      </button>
    
  </section>
</section>
