<div
  name="feed background"
  class="bg-gradient-to-b from-[#ffe001] to-white  pb-4 overflow-x-scroll scroll-smooth"
>
  <section name="music feed grid display" class=" ">
    <div class="grid auto-cols-[160px] grid-flow-col  gap-6  ">
      <div
        *ngFor="let music of musicFeed"
        class="rounded-full bg-gradient-to-b from-white to-[#ffe001] shadow-1xl flex  m-auto 
        [&:nth-child(4n)]:h-150
        [&:nth-child(3n)]:h-130
         [&:nth-child(2n)]:h-115
         [&:nth-child(1n)]:h-105"
      >
        <div class="flex items-center justify-center m-auto">
          <app-postcard [music]="music" (showDetails)="onShowDetails($event)" class=" "></app-postcard>
        </div>
      </div>
    </div>
  </section>

    <!-- Overlay for details component -->
    <div *ngIf="selectedMusicId !== null" class="fixed inset-0 z-50 flex items-center justify-center">
      <!-- Background overlay with opacity -->
      <div class="absolute inset-0 bg-black opacity-50" ></div>
      <!-- Modal content -->
      <div class="relative flex items-center justify-center ">
        <button
          name="close music details button"
          (click)="selectedMusicId = null"
          class="absolute top-2 right-4 font-extrabold text-md text-gray-700  hover:text-rose-700"
        >
          ×
        </button>
        <app-details-postcard [musicId]="selectedMusicId"></app-details-postcard>
      </div>
    </div>
  </div>