<!-- DESKTOP NAV -->
<nav
  class="flex max-sm:justify-start sm:justify-end md:justify-between items-center px-8 bg-[#ffe001] text-[#232330] font-semibold"
  [ngStyle]="{ height: navbarHeight + 'px' }"
>
<div>
<button class="hidden md:block pt-18 " (click)="isShowDropMenu = !isShowDropMenu">
    <img
      src="../../assets/images/soundwaveLogo.svg"
      alt="soundwave music sharing logo"
      class="w-28 pt-6 pb-5"
    />
  </button>
</div>

  <div>
  <li *ngFor="let item of getItems()" class="max-sm:hidden inline mx-4">
    <a [routerLink]="[item.toLowerCase()]">{{ item }}</a>
  </li>
</div>

 
</nav>

<!-- MOBILE NAV -->
<nav
  class="sm:hidden inline-block bg-black/90 p-8 text-white w-[80vw] absolute"
  [ngStyle]="{ height: 'calc(100vh - ' + this.navbarHeight + 'px)' }"
  *ngIf="isShowDropMenu"
>
  <li
    *ngFor="let item of getItems()"
    class="block my-8 text-2xl uppercase font-semibold"
  >
    <a [routerLink]="[item.toLowerCase()]">{{ item }}</a>
  </li>
</nav>

<router-outlet></router-outlet>
