<section name="add musicform" class="bg-white shadow-md border-2 border-gray-700 rounded-lg p-6 max-w-md ">
  <h2 class="text-2xl text-[#9d0007]">Music Details:</h2>
  <form class="grid grid-cols-1 py-2" [formGroup]="MusicPostForm" (ngSubmit)="submitMusic()">
    <mat-form-field>
      <mat-label>Track Name</mat-label>
      <input matInput formControlName="trackName">
    </mat-form-field>
    
    <!-- File Upload Component -->
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700 mb-1">Upload Track File</label>
      <app-file-upload (fileSelected)="onFileSelected($event)"></app-file-upload>
    </div>
    
    <mat-form-field>
      <mat-label>Cover Art Link</mat-label>
      <input matInput formControlName="coverArt">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Artist</mat-label>
      <input matInput formControlName="artist">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Source</mat-label>
      <mat-select formControlName="sourcedFrom">
        <mat-option value="original">Original track</mat-option>
        <mat-option value="Soundcloud">Soundcloud</mat-option>
        <mat-option value="YT Music">YT Music</mat-option>
        <mat-option value="Artist's Website">Artist's Website</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Genre</mat-label>
      <mat-select formControlName="genre">
        <mat-option value="blues">Blues</mat-option>
        <mat-option value="hiphop">Hip-Hop</mat-option>
        <mat-option value="jazz">Jazz</mat-option>
        <mat-option value="pop">Pop</mat-option>
        <mat-option value="rock">Rock</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Is this your original track? You cannot sell music if you do not own the rights</p>
      <mat-checkbox formControlName="availableForSale" class="mb-2">Available for Sale</mat-checkbox>
      <mat-form-field *ngIf="MusicPostForm.get('availableForSale')?.value">
        <mat-label>Price</mat-label>
        <mat-select formControlName="price">
          <mat-option value="0">Free</mat-option>
          <mat-option value="1.99">£1.99</mat-option>
          <mat-option value="3.99">£3.99</mat-option>
          <mat-option value="5.99">£5.99</mat-option>
          <mat-option value="7.99">£7.99</mat-option>
          <mat-option value="9.99">£9.99</mat-option>
        </mat-select>
      </mat-form-field>
    
    <button mat-raised-button type="submit" color="accent" class="mt-4">Post Now</button>
  </form>
</section>