<form method="POST" class="mt-16 mx-[auto] w-[max-content]">

    <app-login-form-input [name]="'Username'"></app-login-form-input>
    <app-login-form-input [name]="'Email'"></app-login-form-input>
    <app-login-form-input [name]="'Password'"></app-login-form-input>
    <app-login-form-input [name]="'Confirm Password'"></app-login-form-input>
    <app-login-form-button [name]="'Sign up!'" [btnClick]="signup"></app-login-form-button>
    <p class="text-xs mx-[auto] w-[max-content] pt-4">Already have an account? Click <a href='#'>HERE</a> to sign in!</p>

</form>