<form class="mt-16 mx-[auto] w-[max-content]" (submit)="doSignup($event)">
    <app-login-form-input [name]="'Username'" (outValue)="setUsername($event)"></app-login-form-input>
    <app-login-form-input [name]="'Email'" (outValue)="setEmail($event)"></app-login-form-input>
    <app-login-form-input [name]="'Password'" (outValue)="setPassword($event)"></app-login-form-input>
    <app-login-form-input [name]="'Confirm Password'" (outValue)="setConfirmPassword($event)"></app-login-form-input>
    <app-login-form-button [name]="'Sign up!'" [type]="'submit'"></app-login-form-button>
    <p class="text-xs mx-[auto] w-[max-content] pt-4">Already have an account? Click <a href='#'>HERE</a> to sign in!</p>
</form>

<app-form-dialog 
    [title]="'Sign Up'" 
    [errors]="errors"
    [successText]="'Successfully signed up!'" 
    [isVisible]="isDialogVisible" 
    (hide)="setDialogVisibility($event)" 
    [redirect]="redirect">
</app-form-dialog>